table {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
}

td {
  padding: 10px;
}
input[type="text"],
textarea {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #2c2a3b;
  resize: none;
}

select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #2c2a3b;
}

button[type="submit"] {
  padding: 9px;
  background-color: #fcc822;
  color: #2c2a3b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #cea51c;
}

/* Style untuk navbar */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}