* {
  font-family: "Poppins", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 110vh;
}

.login {
  height: 90vh;
  padding: 0 20px 0 20px;
}

.login h1 {
  color: var(--hitam, #18152d);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}

.login h1 span {
  color: var(--putih, #faf7f4);
}

.login p {
  color: var(--hitam, #18152d);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.login small {
  color: var(--hitam, #18152d);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.left-box {
  border-radius: 15px 0 0 15px;
}

.box-area{
  width: 800px;
  height: 550px;
}

.group-input {
  position: relative;
}

.group-input img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; 
  height: 20px;
  cursor: pointer;
  opacity: 0.5;
}

.group-input input {
  padding-right: 30px;
  position: relative;
  
}

.link:hover {
  color: white;
}

@media only screen and (max-width: 768px) {
  .box-area {
    background-color: #fcc822;
    margin: 0px;
    max-width: 420px;
    width: 100%;
  }
  .login small {
    font-size: 14px;
  }

  .login p {
    font-size: 22px;
  }

  .login h1 {
    font-size: 38px;
  }

  .login {
    height: 100vh;
  }
  
  .form-label{
    font-size: 14px;
  }
  .left-box {
    height: 200px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
  }
  .main {
    height: 200vh;
    margin-top: 0px;
  }
  .right-box {
    height: 90vh;
    border-radius: 0 0 0 15px;
  }
}

