hasil.css
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}
.container {
  max-width: 50vw;
  margin: 0 auto;
  padding: 20px 50px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h5 {
  text-align: center;
  margin-bottom: 20px;
}
.question {
  margin-bottom: 10px;
}
.correct-answer {
  color: green;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #ffc822;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #ffc822;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

.range, .tombol {
    width: 100%;
    text-align: center;
}

.benar p {
    margin-left: 40px;
}
